/*normalize*/
body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    text-transform: uppercase;
}

h4 {
    padding: 5px;
}

ul {
    margin: 0;
    padding: 0;
}

main {
    margin: 0 20px;
}

p {
    padding: 0 5px;
}

/*typography*/
h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 3rem;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0 10px 15px 10px;
    letter-spacing: .2rem;
    font-size: 1rem;
}

p,
nav,
div,
a,
figcaption,
span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*page links-nav bar*/
ul.page-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.page-links li {
    float: left;
}

.page-links a {
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.page-links a:hover {
    background-color: gray;
    color: white;
}

.page-links .active {
    background-color: #ffbf00;
    color: black;
}
/*social links-nav bar*/
